* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  /* background-color: rgb(118, 158, 233); */
  background-image: url('../images/triangles-g27a02e904_1280-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  max-width: 320px;
  display: block;
  border: 2px solid rgb(0, 153, 255);
  border-radius: 4px;
  margin: 30px 0 20px 650px;
  padding: 8px;
  font: inherit;
}
#search-box:focus {
  outline: none;
  border-color: green;
}

.country-list,
.country-description,
.languages-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* boxes */
.country-info {
  display: flex;
  flex-direction: column;
  /* margin-left: 600px; */
  /* margin-right: auto; */
}
.country-heading-box {
  display: flex;
  align-items: baseline;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  min-width: max-content;
}

.country-thumb {
  display: flex;
  padding: 10px;

  margin-left: auto;
  margin-right: auto;
  background-color: azure;
}
/* image-flag */
.flag {
  margin-right: 12px;
}
/* country description */
.country-heading {
  font-size: 40px;
}
.country-description {
  font-size: 24px;
}
.country-description__title {
  margin-right: 9px;
}

.languages-list {
  display: inline-flex;
}

/* countryList  - list of countries*/
.country-list {
  display: flex;
  min-width: max-content;
  flex-direction: column;
  margin-left: 650px;
}
/* li-item (img-flag, name-official) */
.country-list__item {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
}
.languages-list__item {
  margin-right: 9px;
}
